/* You can add global styles to this file, and also import other style files */
body{

  background-color:rgb(7, 7, 7);
}
.auth-card{
  background: #c31432;  /* fallback for old browsers */
  background: linear-gradient(to right, #240b36, #240b36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  // box-shadow: 0px 0px 30px #f7f7f7;
}
label{
  color: #fff;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}
.user-image{
  height: 70px;
}
.auth-avatar{
  text-align: center;
  margin-top: -50px;
}
.auth{
  margin-top: 35px;
  border: none;
  border-radius: 6px;
}
.btn-my{
  background-color: #d39e00;
  border-color: #d39e00;
  color: #fff;
}
.simple-keyboard {
  max-width: 850px;
}
